<!-- ngIf: Conditionally creates or disposes of subviews from the template. -->
<div *ngIf="hero">

  <!-- Interpolation Binding {{}} -->
  <!-- | Pipes -->
  <h1>{{hero.name | uppercase}} Details</h1>


  <!-- Span is a generic inline container for phrasing content (inline-level element) -->
  <div><span>id: </span> {{hero.id}}</div>
  <div><span>name: </span> {{hero.name}}</div>

  <div>

    <!-- Atributo for(=id): especifica a qual elemento de formulário o <label> está vinculado -->
    <label for="name">Hero name:</label>
    <!-- Two way data binding [(ngModel)]:
        -Ligação de dados template <=> component
        -Altera no template e reflete na variável do componente
        -Necessita importar módulo "FormsModule"
    -->
    <input id="name" [(ngModel)]="hero.name" placeholder="name" type="text"/>

  </div>

  <button mat-raised-button (click)="goBack()">Go back</button>
</div>
