<!-- Processo A.M.:
                - Copiar a API no site do Angular Material
                - Importar a API do elemento no app.module.ts
-->



<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <!-- Substituindo uso de classes CSS por Flex-layout -->
  <span fxFlex></span>

  <!-- Atributo aria-label:
                          - define um valor de string que rotula um elemento interativo
                          - quando não há uma descrição precisa do seu conteúdo
  -->

  <!-- routerLink:
                 - Nova diretiva disponibilizada pelo RouterModule
                 - Permite a inserção de link para navegação
  -->
  <button
    mat-icon-button
    aria-label="Heroes list"
    routerLink="/heroes"
  >
    <!-- Utilizar nome do ícone, retirado do site da google -->
    <mat-icon aria-hidden="false" fontIcon="sports_martial_arts"></mat-icon>
  </button>

</mat-toolbar>

<div class="content">
  <!-- Elemento de RouterModule -->
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
