<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->


<h2>My Heroes</h2>
<ul class="heroes">
  <!-- DIRETIVAS: classes que adicionam comportamento aos elementos-->
    <!-- ngFor: Repita um nó para cada item em uma lista -->
    <!-- [class.nomeClasseCSS]="condição" -->
      <!-- Possibilidade de alterar a aparência do elemento com base em
      estados ou propriedades específicas do componente -->
  <li
  *ngFor="let hero of heroes"
  [class.selected]="hero === selectedHero"
  (click)="onSelect(hero)"
  >
    <span>{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!-- Sharing data between parent (heroes) and child (hero-detail) components -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
