<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->


<h2>My Heroes</h2>
<ul class="heroes">
  <!-- DIRETIVAS: classes que adicionam comportamento aos elementos-->
    <!-- ngFor: Repita um nó para cada item em uma lista -->
    <!-- [class.nomeClasseCSS]="condição" -->
      <!-- Possibilidade de alterar a aparência do elemento com base em
      estados ou propriedades específicas do componente -->
  <li
  *ngFor="let hero of heroes"
  [class.selected]="hero === selectedHero"
  (click)="onSelect(hero)"
  >
    <span>Id: {{hero.id}} - </span> {{hero.name}}
  </li>
</ul>

<!-- Sharing data between parent (heroes) and child (hero-detail) components -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>





<table mat-table [dataSource]="heroes" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id: </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name: </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

